.card-align{
  margin-top: 2rem;
}
.card-decoration {
  border: none;
  border-radius: 12px;
  font-weight: 400;
  font-size: 12px;
  margin: 10px 20px 10px 0px;
  width: 166px;
  min-height: 214px;
}
.date-time-box {
  padding: 10px 15px;
}
.icon-font {
  font-weight: 900;
  font-size: 14px;
  margin-right: 12px;
}
.status-box {
  padding: 14px 15px;
}
.select-post{
    padding: 10px 16px;
    width: 110px;
    margin: auto;
}
.dotted-border{
    border: 1px dashed #BFBDBD;
}
.image-align{
  height: 136px;
  object-fit: cover;
}